.u-footer {
  padding: 40px 50px;
  margin-top: 30px;
  background: $grey;
  overflow: hidden;
  position: relative;

  .u-footer-logo {
    position: absolute;
    width: 294px;
    height: 294px;
    display: inline-block;
    content: '';
    background: url('../images/logo_big.png');
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    opacity: 0.1;
    pointer-events: none;
    top: -30%;
  }

  .footer-field {
    margin-bottom: 20px;
    display: block;
    .footer-icon, .footer-text {
      display: inline-block;
      vertical-align: middle;
    }
    .footer-icon {
      margin-right: 5px;
      color: $blue;
      width: 20px;
    }

    .footer-text {
      width: calc(100% - 30px);
      color: $white;

      .social {
        font-size: 18px;
        text-decoration: none;
      }
    }
  }

  a.footer-field {
    text-decoration: underline;
    margin-bottom: 15px;
    &:hover, &:focus, &:active {
      color: $blue;
    }
  }

  .u-footer-rights {
    position: absolute;
    bottom: 50px;
    right: 40px;

    .u-footer-rights-img, .u-footer-rights-text {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

