.u-header {
  width: 1200px;
  margin: 0 auto;
  .navbar {
    margin-bottom: 0;

    .navbar-header {
      .navbar-brand {
        height: 110px;
      }
    }
    .u-main-navbar {
      padding: 40px 0;
      li a {
        font-weight: bold;
        padding: 5px 15px;
        text-transform: uppercase;
        background: $black;
        color: $white;
        position: relative;
        transition: color 0.3s ease, backgorund 0.2s ease 0.1s;

        i {
          font-size: 18px;
        }

        &:hover, &:focus {
          background: $blue;
          color: $black;
        }
      }

      &.main-part {
        li:last-child {
          padding-left: 78px;
          background: $black;

          a {
            &:before {
              position: absolute;
              content: '';
              display: inline-block;
              border-left: 10px solid $black;
              border-top: 15px solid transparent;
              border-bottom: 15px solid transparent;
              top: 0;
              right: -10px;
            }

            &:hover, &:focus {
              &:before {
                border-left: 10px solid $blue;
              }
            }
          }
        }

        li {
          &:first-child {
            a {
              background: $orange;
              color: $black;
              padding-left: 10px;
              transition: color 0.3s ease, background 0.2s ease 0.1s;

              &:before {
                position: absolute;
                transition: border-right 0.2s ease 0.1s;
                content: '';
                display: inline-block;
                border-right: 10px solid $orange;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                top: 0;
                left: -10px;
              }
              &:after {
                position: absolute;
                content: '';
                display: inline-block;
                border-right: 10px solid $white;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                top: 0;
                right: 0;
              }

              &:hover, &:focus {
                color: $black;
                background: $blue;

                &:before {
                  border-right: 10px solid $blue;
                }
              }
            }

            & + li {
              a {
                margin-left: 12px;

                &:hover, &:focus {
                  &:before {
                    border-right: 10px solid $blue;
                  }
                }

                &:before {
                  position: absolute;
                  content: '';
                  display: inline-block;
                  border-right: 10px solid $black;
                  border-top: 15px solid transparent;
                  border-bottom: 15px solid transparent;
                  top: 0;
                  left: -10px;
                }
              }

              &.active a:before {
                border-right: 10px solid $blue;
              }
            }
          }

          &.active {
            a {
              background: $blue;
              color: $black;
              &:hover, &:focus {
                background: $blue;
                color: $black;
              }

            }

            &:first-child {
              a:before {
                border-right: 10px solid $blue;
              }
            }
          }
        }

      }

      &.navbar-right {
        margin-right: 0;

        li a {
          background: $red;
          color: $white;

          &:hover, &:focus {
            color: $black;
            background: $blue;

            &:before {
              border-left: 10px solid $blue;
            }
          }

          &:after {
            position: absolute;
            content: '';
            display: inline-block;
            border-left: 10px solid $white;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            top: 0;
            left: 0;
          }

          &:before {
            position: absolute;
            content: '';
            display: inline-block;
            border-left: 10px solid $red;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            top: 0;
            right: -10px;
          }
        }
      }
    }
  }

  .up-section {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    &>div {
      margin-left: 20px;
      i {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
      }

      .text {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;

        a {
          color: $black;
          text-decoration: underline;
        }
      }
    }
  }
}
