.u-carousel {
  height: 350px;

  .carousel-inner {
    height: 100%;

    .item {
      height: 100%;
    }

    img {
      width: 100%;
    }

    .carousel-caption {
      top: 0;
      right: 0;
      padding: 35px;
      left: auto;
      width: 400px;
      background: rgba($black, 0.6);
      height: 100%;
      text-align: left;

      h3 {
        color: $ocean;
        font-weight: bold;
        margin: 0 0 30px 0;
        max-height: 52px;
      }

      .text {
        height: 135px;
        overflow: hidden;
      }
    }
  }

  .carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 60px;
    margin-left: 0;
    text-align: left;
    width: auto;
    li {
      width: 15px;
      height: 15px;
      border-radius: 0;
      background: $orange;
      margin: 0;
      border: 3px solid $white;

      &.active, &:hover, &:focus {
        background: $black;
      }
    }
  }

  .carousel-control {
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow {
      width: 27px;
      height: 44px;
      background-size: cover;
      display: inline-block;
    }

    &.left .arrow {
      background: url('../images/arrow-left.png');
    }

    &.right {
      right: 400px;

      .arrow {
        background: url('../images/arrow-right.png');
      }
    }
  }
}

.u-content {
  padding: 35px 45px 30px;
  background: $white;
}

.u-gallery {
  margin-top: 30px;
  .u-gallery-preview {
    text-align: center;

    .u-gallery-preview-wrapper {
      display: inline-block;

      .u-gallery-image-wrapper {
        position: relative;
        width: 150px;
        height: 150px;
        padding: 8px;
        border: 2px solid $very-light-grey;

        img {
          width: 100%;
          height: 100%;
        }

        .btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          max-width: 80%;
        }
      }
      .u-gallery-title {
        margin-top: 20px;
        text-transform: uppercase;
      }
    }
  }
}

.u-areas-use {
  background: url(../images/tiles.jpg) no-repeat;
  background-size: cover;

  .u-areas-use-wrapper {
    padding: 35px 30px;
    background: rgba($orange, 0.8);
  }

  h3 {
    margin: 0 0 25px;
  }
}

.u-calc-section {
  margin-top: 30px;
  display: flex;

  .u-calc-section-wrapper {
    background: url(../images/tiles.jpg) no-repeat;
    background-size: cover;
  }

  .calc-wrapper {
    background: rgba($blue, 0.8);
    padding: 25px;
    height: 100%;

    .calc-title {
      margin-bottom: 20px;

      .calc-icon, .title {
        display: inline-block;
        vertical-align: middle;
      }

      .title {
        color: $white;
        margin-left: 15px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    .form-control {
      border-radius: 0;
      margin-bottom: 15px;
      background: $white;
      color: $black;
      height: auto;
      padding: 12px 15px;
      border: none;
    }
  }
}

.u-calc-section-wrapper {
  flex: 1;
  margin: 0 15px;
}

.u-calc-tabs-section {
  background: #f1f1f1;
  padding: 20px 30px;
  flex: 2;
  margin: 0 15px;

  .u-list-group {
    display: inline-block;
    vertical-align: top;
    width: 260px;
  }

  .list-group-item {
    width: 100%;
    padding: 5px 10px;
    a {
      padding: 0;
    }
    .list-group-item-text {
      color: $black;
      span {
        border-bottom: 2px solid $grey;
      }
    }

    &.active {
      a {
        background: none;
        .list-group-item-icon {
          color: $black;
        }

        &:hover, &:focus, &:active {
          background: none;
        }

        span.u-icon.dots {
          background-image: url('../images/icons/dots_active.png');
        }
      }

      .list-group-item-text {
        color: $red;
        span {
          border-bottom: none;
        }
      }
    }
  }

  .u-tab-content {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 270px);
  }
}

.u-news-comment-section {
  margin-top: 30px;
  h3 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .u-news {
    padding-right: 30px;
    .u-article {
      margin-bottom: 30px;

      .u-article-text {
        text-decoration: underline;
        color: $red;
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .date-icon {
        margin-right: 5px;
        font-size: 18px;
        display: inline-block;
        vertical-align: middle;
      }
      .date-text {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.u-comments {
  .u-comment {
    margin-bottom: 30px;
    .u-comment-text {
      margin-bottom: 20px;
    }
    .u-comment-icon {
      margin-right: 5px;
      font-size: 18px;
      display: inline-block;
      vertical-align: middle;
    }
    .u-comment-info-text {
      display: inline-block;
      vertical-align: middle;

      .city {
        margin-right: 3px;
      }
    }
  }
}

.u-faq-section {
  margin-top: 30px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
  }
}
