.u-nav {
  background: $blue;
  li {
    a {
      text-transform: uppercase;
      color: $white;
      font-weight: bold;

      &:hover, &:focus {
        background: $orange;
      }

      .fa-chevron-down {
        margin-left: 3px;
        opacity: 0.5;
      }
    }

    &.open {
      .dropdown-toggle {
        background: $orange;

        &:hover, &:focus {
          background: $orange;
        }
      }

      .dropdown-menu {
        min-width: 100%;
        background: $blue;
        color: $white;
        border-radius: 0;

        li a {
          &:hover, &:focus {
            color: $white;
          }
        }
      }
    }
  }
  .form-group {
    i {
      color: $white;
      font-size: 18px;
      opacity: 0.5;
    }
    .form-control {
      color: $white;
      background: none;
      border: none;
      width: 80px;
      transition: width 0.3s ease;
      box-shadow: none;

      &:focus {
        width: 150px;
      }
    }
    ::-webkit-input-placeholder {
      color: $white;
    }
    :-ms-input-placeholder {
      color: $white;
    }
    ::-moz-placeholder {
      color: $white;
    }
    ::-moz-placeholder {
      color: $white;
    }
  }
}
