.u-price-item {
  margin-top: 30px;
}

.u-table {
  thead {
    background: $table-grey;
    th {
      color: $black;
      font-weight: bold;
      border: none;
    }
  }

  tbody {
    tr {
      border-top: 1px solid $table-grey;
    }
  }

  border: 2px solid $table-grey;
}

.u-carousel.small {
  height: auto;

  .right.carousel-control {
    right: 0;
  }
}

.u-object-preview {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 30px;

  img {
    max-width: 100%;
  }
}
