$orange: #f4b554;
$blue: #40a9d9;
$ocean: #a0e1ff;
$black: #000;
$white: #fff;
$red: #dd674b;
$grey: #4d5255;
$light-grey: #72797d;
$very-light-grey: #dcdcdc;
$table-grey: #e4e4e4;


.orange {
  color: $orange;
}
.blue {
  color: $blue;
}
.black {
  color: $black;
}
.white {
  color: $white;
}
.red {
  color: $red;
}
.grey {
  color: $grey;
}
.light-grey {
  color: $light-grey;
}
.ocean {
  color: $ocean;
}