@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "variables";
@import "header";
@import "navigation";
@import "index";
@import "footer";
@import "prices";

body {
  font-family: 'Open Sans', sans-serif;
}

.btn {
  font-weight: bold;
  border-radius: 0;
  padding: 10px 15px;
  color: $white;

  &.btn-red {
    background: $red;
  }
  &.btn-orange {
    background: $orange;
    color: $black;
  }

  &.btn-big {
    padding: 20px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &.btn-md {
    padding: 10px 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
.container {
  min-width: 1200px;
}

.wrapper {
  min-width: 1200px;
  background: url('../images/bg-light.jpg') repeat;

  & > .container {
    padding: 0;
  }
}

.font-bold {
  font-weight: bold;
}

.u-list-group {
  .list-group-item {
    background: none;
    border-radius: 0;
    border: none;

    .list-group-item-icon, .list-group-item-text {
      display: inline-block;
      vertical-align: middle;
    }

    .list-group-item-text {
      text-transform: uppercase;
      font-weight: bold;
      padding-left: 20px;
    }
  }
}

.u-content-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.m-l-10 {
  margin-left: 10px;
}

.u-icon {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  background-repeat: no-repeat;

  &.dots {
    width: 15px;
    height: 15px;
    background-image: url('../images/icons/dots.png');
  }

  &.envelope {
    width: 20px;
    height: 16px;
    background-image: url('../images/icons/envelope_red.png');
  }

  &.marker {
    width: 16px;
    height: 25px;
    background-image: url('../images/icons/marker.png');
  }
  &.phone {
    width: 18px;
    height: 19px;
    background-image: url('../images/icons/phone.png');
  }
  &.phone.red {
    width: 18px;
    height: 19px;
    background-image: url('../images/icons/phone_red.png');
  }
  &.clock {
    width: 20px;
    height: 20px;
    background-image: url('../images/icons/clock.png');
  }
  &.clock.blue {
    width: 20px;
    height: 20px;
    background-image: url('../images/icons/clock_blue.png');
  }
  &.clock.red {
    width: 20px;
    height: 20px;
    background-image: url('../images/icons/clock_red.png');
  }
  &.vk {
    width: 22px;
    height: 12px;
    background-image: url('../images/icons/vk.png');
  }
  &.vk.white {
    width: 22px;
    height: 12px;
    background-image: url('../images/icons/vk_white.png');
  }
  &.comment {
    width: 20px;
    height: 17px;
    background-image: url('../images/icons/comment.png');
  }
}
