footer.u-footer
  .u-footer-logo
  .row
    .col-xs-4
      .footer-field.white.font-bold &copy;  2016. ООО "ЮПАК". Все права защищены
      .footer-field
        .footer-icon
          span.u-icon.marker
        .footer-text Московская область, г. Электросталь, ул. Пионерская, д. 22
      .footer-field
        .footer-icon
          span.u-icon.clock.blue
        .footer-text Без выходных с 9:00 до 20:00
      .footer-field
        .footer-icon
          span.u-icon.phone
        .footer-text
          span +7 (925) 532-35-69
          span.m-l-10 +7 (495) 532-35-69
          span.m-l-10
            a.social(href="#")
              span.u-icon.vk


    .col-xs-offset-1.col-xs-4
      .row
        .col-xs-6
          a.footer-field.white(href="#") Резиновая плитка
          a.footer-field.white(href="#") Оборудование
          a.footer-field.white(href="#") Материалы
          a.footer-field.white(href="#") Применение
          a.footer-field.white(href="#") Карта сайта

        .col-xs-6
          a.footer-field.white(href="#") О компании
          a.footer-field.white(href="#") Доставка и оплата
          a.footer-field.white(href="#") Партнерам
          a.footer-field.white(href="#") Контакты
          a.footer-field.white(href="#") Отзывы
          a.footer-field.white(href="#") Новости

    .u-footer-rights
      img.u-footer-rights-img(src="./assets/images/peoples.png")
      .u-footer-rights-text.white
        .text-uppercase Я зарегистрирован
        .text-uppercase на портале поставщиков
