header.u-header
  .up-section.container
    div
      span.u-icon.clock.red
      .text Без выходных с 9:00 до 20:00
    div
      span.u-icon.envelope
      .text
        a(href="#") info@elplit.com
    div
      span.u-icon.phone.red
      .text
        strong.light-grey +7 (495)
        strong.black  532-35-69
      .text
        strong.light-grey +7 (925)
        strong.black  532-35-69

  nav.navbar
    .container
      .navbar-header
        a.navbar-brand(href='#')
          img(src='./assets/images/logo.png')
      ul.nav.navbar-nav.u-main-navbar.main-part
        li
          a(href='#') Главная
        li
          a(href='#') О компании
        li.active
          a(href='#') Доставка и оплата
        li
          a(href='#') Партнерам
        li
          a(href='#') Контакты
        li
          a(href='#')
            span.u-icon.vk.white

      ul.nav.navbar-nav.navbar-right.u-main-navbar
        li
          a(href='#')
           strong Оставить заявку
