.container.u-nav
  ul.nav.navbar-nav
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
        | Резиновая плитка
        i.fa.fa-chevron-down
      ul.dropdown-menu
        li
          a(href='#') Item
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
        | Материалы
        i.fa.fa-chevron-down
      ul.dropdown-menu
        li
          a(href='#') Item
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
        | Оборудование
        i.fa.fa-chevron-down
      ul.dropdown-menu
        li
          a(href='#') Item
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
        | Применение
        i.fa.fa-chevron-down
      ul.dropdown-menu
        li
          a(href='#') Item
  form.navbar-form.navbar-right.u-nav
    .form-group
      i.fa.fa-search
      input.form-control.search-input(placeholder="ПОИСК")
