doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Upak
    link(rel='stylesheet' href='./assets/css/depStyles.css')
    link(rel='stylesheet' href='./assets/css/styles.css')
  body
    .app
      include components/header.pug
      include components/navigation.pug
      .wrapper
        .container
          #u-slider.carousel.u-carousel.slide(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#u-slider', data-slide-to='0')
              li(data-target='#u-slider', data-slide-to='1')
              li(data-target='#u-slider', data-slide-to='2')

            .carousel-inner(role='listbox')
              .item.active
                img(src='./assets/images/slider.jpg', alt='slide caption')
                .carousel-caption
                  h3 Резиновая плитка от производителя
                  .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quis eros vitae egestas. Integer in diam elementum, placerat quam ut, varius urna.
                  a.btn.btn-block.btn-big.btn-red(href="#") Узнать подробнее
              .item
                img(src='./assets/images/slider.jpg', alt='slide caption')
                .carousel-caption
                  h3 Резиновая плитка от производителя
                  .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quis eros vitae egestas. Integer in diam elementum, placerat quam ut, varius urna.
                  a.btn.btn-block.btn-big.btn-red(href="#") Узнать подробнее
              .item
                img(src='./assets/images/slider.jpg', alt='slide caption')
                .carousel-caption
                  h3 Резиновая плитка от производителя
                  .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quis eros vitae egestas. Integer in diam elementum, placerat quam ut, varius urna.
                  a.btn.btn-block.btn-big.btn-red(href="#") Узнать подробнее

            a.left.carousel-control(href='#u-slider', role='button', data-slide='prev')
              .arrow
            a.right.carousel-control(href='#u-slider', role='button', data-slide='next')
              .arrow

          .u-content
            .row
              .col-xs-8
                h3.blue.font-bold Резиновая плитка от производителя в Москве
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique sollicitudin aliquet. Donec in suscipit nisl. Suspendisse finibus nisi ac diam auctor, ut tincidunt enim pulvinar. Fusce vehicula condimentum nisl, sit amet sodales enim malesuada quis. Aenean ac orci erat. Fusce tincidunt hendrerit massa, quis ornare arcu imperdiet at. Donec quis varius ligula. Mauris fringilla libero ut libero iaculis, vitae vulputate lectus malesuada. Integer eget magna malesuada turpis eleifend tincidunt et nec leo. Aenean eget purus eu lorem ultrices porta nec luctus ante. Quisque lacinia lectus eget imperdiet aliquam. Mauris a egestas leo, at tristique lectus. Mauris sed elementum sapien. Mauris eget nunc sem. Nullam eget congue tortor. Aliquam porta iaculis sollicitudin.
                .row.u-gallery
                  .col-xs-4.u-gallery-preview
                    .u-gallery-preview-wrapper
                      .u-gallery-image-wrapper
                        img(src="./assets/images/preview.jpg")
                        a.btn.btn-red(href="#") От 2000 руб.
                      .u-gallery-title Оборудование
                  .col-xs-4.u-gallery-preview
                    .u-gallery-preview-wrapper
                      .u-gallery-image-wrapper
                        img(src="./assets/images/preview.jpg")
                        a.btn.btn-red(href="#") От 2000 руб.
                      .u-gallery-title Резиновая плитка
                  .col-xs-4.u-gallery-preview
                    .u-gallery-preview-wrapper
                      .u-gallery-image-wrapper
                        img(src="./assets/images/preview.jpg")
                        a.btn.btn-red(href="#") От 2000 руб.
                      .u-gallery-title Бесшовное покрытие

              .col-xs-4
                .u-areas-use
                  .u-areas-use-wrapper
                    h3.black.font-bold Области применения
                    ul.list-group.u-list-group
                      li.list-group-item
                        .list-group-item-icon
                          img(src="./assets/images/icons/sw.png")
                        .list-group-item-text Бассейны

                      li.list-group-item
                        .list-group-item-icon
                          img(src="./assets/images/icons/pk.png")
                        .list-group-item-text Детские площадки

                      li.list-group-item
                        .list-group-item-icon
                          img(src="./assets/images/icons/pzl.png")
                        .list-group-item-text Тротуарная плитка

                      li.list-group-item
                        .list-group-item-icon
                          img(src="./assets/images/icons/d.png")
                        .list-group-item-text Тиры

                      li.list-group-item
                        .list-group-item-icon
                          img(src="./assets/images/icons/b.png")
                        .list-group-item-text Тренажерные залы

                      li.list-group-item
                        .list-group-item-icon
                          img(src="./assets/images/icons/sk.png")
                        .list-group-item-text Вокруг катков

                      li.list-group-item
                        .list-group-item-icon
                          img(src="./assets/images/icons/tr.png")
                        .list-group-item-text Садовые дорожки

                      li.list-group-item
                        .list-group-item-icon
                          img(src="./assets/images/icons/st.png")
                        .list-group-item-text Спортивные площадки

            .row.u-calc-section
              .u-calc-section-wrapper
                .calc-wrapper
                  .calc-title
                    img.calc-icon(src="./assets/images/icons/calc.png")
                    .title Калькулятор материала
                  input.form-control(type="text" placeholder="Площадь в кв.м")
                  input.form-control(type="text" placeholder="Желаемый цвет покрытия")
                  .btn.btn-block.btn-big.btn-red Рассчитать

              .u-calc-tabs-section
                ul.nav.nav-pills.nav-stacked.u-list-group
                  li.list-group-item.active
                    a(href="#chit" aria-controls="chit" role="tab" data-toggle="tab")
                      .list-group-item-icon
                        span.u-icon.dots
                      .list-group-item-text
                        span EPDM крошка
                  li.list-group-item
                    a(href="#gum" aria-controls="gum" role="tab" data-toggle="tab")
                      .list-group-item-icon
                        span.u-icon.dots
                      .list-group-item-text
                        span Резиновая крошка
                  li.list-group-item
                    a(href="#pglue" aria-controls="pglue" role="tab" data-toggle="tab")
                      .list-group-item-icon
                        span.u-icon.dots
                      .list-group-item-text
                        span Полиуретановый клей
                  li.list-group-item
                    a(href="#colors" aria-controls="colors" role="tab" data-toggle="tab")
                      .list-group-item-icon
                        span.u-icon.dots
                      .list-group-item-text
                        span Пигментный краситель
                  li.list-group-item
                    a(href="#glue" aria-controls="glue" role="tab" data-toggle="tab")
                      .list-group-item-icon
                        span.u-icon.dots
                      .list-group-item-text
                        span Клей для монтажа
                  li.list-group-item
                    a(href="#primer" aria-controls="primer" role="tab" data-toggle="tab")
                      .list-group-item-icon
                        span.u-icon.dots
                      .list-group-item-text
                        span Праймер
                  li.list-group-item
                    a(href="#skipidar" aria-controls="skipidar" role="tab" data-toggle="tab")
                      .list-group-item-icon
                        span.u-icon.dots
                      .list-group-item-text
                        span Скипидар

                .tab-content.u-tab-content
                  #chit.tab-pane.active(role="tabpanel")
                    p L22rem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique sollicitudin aliquet. Donec in suscipit nisl. Suspendisse finibus nisi ac diam auctor, ut tincidunt enim pulvinar. Fusce vehicula condimentum nisl, sit amet sodales enim malesuada quis. Aenean ac orci erat. Fusce tincidunt hendrerit massa, quis ornare arcu imperdiet at. Donec quis varius ligula. Mauris fringilla libero ut libero iaculis, vitae vulputate lectus malesuada. Integer eget magna malesuada turpis eleifend tincidunt et nec leo. Aenean eget purus eu lorem ultrices porta nec luctus ante. Quisque lacinia lectus eget imperdiet aliquam. Mauris a egestas leo, at tristique lectus. Mauris sed elementum sapien. Mauris eget nunc sem. Nullam eget congue tortor. Aliquam porta iaculis sollicitudin.
                  #gum.tab-pane(role="tabpanel")
                    p Lo112rem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique sollicitudin aliquet. Donec in suscipit nisl. Suspendisse finibus nisi ac diam auctor, ut tincidunt enim pulvinar. Fusce vehicula condimentum nisl, sit amet sodales enim malesuada quis. Aenean ac orci erat. Fusce tincidunt hendrerit massa, quis ornare arcu imperdiet at. Donec quis varius ligula. Mauris fringilla libero ut libero iaculis, vitae vulputate lectus malesuada. Integer eget magna malesuada turpis eleifend tincidunt et nec leo. Aenean eget purus eu lorem ultrices porta nec luctus ante. Quisque lacinia lectus eget imperdiet aliquam. Mauris a egestas leo, at tristique lectus. Mauris sed elementum sapien. Mauris eget nunc sem. Nullam eget congue tortor. Aliquam porta iaculis sollicitudin.
                  #pglue.tab-pane(role="tabpanel")
                    p Lor12em ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique sollicitudin aliquet. Donec in suscipit nisl. Suspendisse finibus nisi ac diam auctor, ut tincidunt enim pulvinar. Fusce vehicula condimentum nisl, sit amet sodales enim malesuada quis. Aenean ac orci erat. Fusce tincidunt hendrerit massa, quis ornare arcu imperdiet at. Donec quis varius ligula. Mauris fringilla libero ut libero iaculis, vitae vulputate lectus malesuada. Integer eget magna malesuada turpis eleifend tincidunt et nec leo. Aenean eget purus eu lorem ultrices porta nec luctus ante. Quisque lacinia lectus eget imperdiet aliquam. Mauris a egestas leo, at tristique lectus. Mauris sed elementum sapien. Mauris eget nunc sem. Nullam eget congue tortor. Aliquam porta iaculis sollicitudin.
                  #colors.tab-pane(role="tabpanel")
                    p Lore4m ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique sollicitudin aliquet. Donec in suscipit nisl. Suspendisse finibus nisi ac diam auctor, ut tincidunt enim pulvinar. Fusce vehicula condimentum nisl, sit amet sodales enim malesuada quis. Aenean ac orci erat. Fusce tincidunt hendrerit massa, quis ornare arcu imperdiet at. Donec quis varius ligula. Mauris fringilla libero ut libero iaculis, vitae vulputate lectus malesuada. Integer eget magna malesuada turpis eleifend tincidunt et nec leo. Aenean eget purus eu lorem ultrices porta nec luctus ante. Quisque lacinia lectus eget imperdiet aliquam. Mauris a egestas leo, at tristique lectus. Mauris sed elementum sapien. Mauris eget nunc sem. Nullam eget congue tortor. Aliquam porta iaculis sollicitudin.
                  #glue.tab-pane(role="tabpanel")
                    p L56orem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique sollicitudin aliquet. Donec in suscipit nisl. Suspendisse finibus nisi ac diam auctor, ut tincidunt enim pulvinar. Fusce vehicula condimentum nisl, sit amet sodales enim malesuada quis. Aenean ac orci erat. Fusce tincidunt hendrerit massa, quis ornare arcu imperdiet at. Donec quis varius ligula. Mauris fringilla libero ut libero iaculis, vitae vulputate lectus malesuada. Integer eget magna malesuada turpis eleifend tincidunt et nec leo. Aenean eget purus eu lorem ultrices porta nec luctus ante. Quisque lacinia lectus eget imperdiet aliquam. Mauris a egestas leo, at tristique lectus. Mauris sed elementum sapien. Mauris eget nunc sem. Nullam eget congue tortor. Aliquam porta iaculis sollicitudin.
                  #primer.tab-pane(role="tabpanel")
                    p Lor7em ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique sollicitudin aliquet. Donec in suscipit nisl. Suspendisse finibus nisi ac diam auctor, ut tincidunt enim pulvinar. Fusce vehicula condimentum nisl, sit amet sodales enim malesuada quis. Aenean ac orci erat. Fusce tincidunt hendrerit massa, quis ornare arcu imperdiet at. Donec quis varius ligula. Mauris fringilla libero ut libero iaculis, vitae vulputate lectus malesuada. Integer eget magna malesuada turpis eleifend tincidunt et nec leo. Aenean eget purus eu lorem ultrices porta nec luctus ante. Quisque lacinia lectus eget imperdiet aliquam. Mauris a egestas leo, at tristique lectus. Mauris sed elementum sapien. Mauris eget nunc sem. Nullam eget congue tortor. Aliquam porta iaculis sollicitudin.
                  #skipidar.tab-pane(role="tabpanel")
                    p Lo4rem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique sollicitudin aliquet. Donec in suscipit nisl. Suspendisse finibus nisi ac diam auctor, ut tincidunt enim pulvinar. Fusce vehicula condimentum nisl, sit amet sodales enim malesuada quis. Aenean ac orci erat. Fusce tincidunt hendrerit massa, quis ornare arcu imperdiet at. Donec quis varius ligula. Mauris fringilla libero ut libero iaculis, vitae vulputate lectus malesuada. Integer eget magna malesuada turpis eleifend tincidunt et nec leo. Aenean eget purus eu lorem ultrices porta nec luctus ante. Quisque lacinia lectus eget imperdiet aliquam. Mauris a egestas leo, at tristique lectus. Mauris sed elementum sapien. Mauris eget nunc sem. Nullam eget congue tortor. Aliquam porta iaculis sollicitudin.

            .row.u-news-comment-section
              .col-xs-6.u-news
                h3.blue.font-bold Новости
                .u-article
                  a.u-article-text(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristiqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristiqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique
                  .u-article-info
                    span.u-icon.clock.date-icon
                    .date-text.black 27.01.2016
                .u-article
                  a.u-article-text(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristiqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristiqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique
                  .u-article-info
                    span.u-icon.clock.date-icon
                    .date-text.black 27.01.2016

                a.btn.btn-md.btn-orange(href="#") Все новости

              .col-xs-6.u-comments
                h3.blue.font-bold Отзывы
                .u-comment
                  .u-comment-text Integer porta consequat erat, vel fringilla tellus malesuada vel. Suspendisse quis nunc dui. Proin interdum sem ut sem ornare, in blandit nunc volutpat. Aenean turpis eros, faucibus vitae semper convallis, dignissim sit amet odio. Maecenas eu mi convallis, fermentum turpis sit amet, eleifend purus. Nam pulvinar ante at sem luctus vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia
                  .u-comment-info
                    span.u-icon.comment
                    .u-comment-info-text
                      span Степан Иванов
                      span.city  (Москва)

                a.btn.btn-md.btn-orange(href="#") Все отзывы


          .u-faq-section
            h4.orange Области использования резиновой плитки
            div
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quis eros vitae egestas. Integer in diam elementum, placerat quam ut, varius urna.
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quis eros vitae egestas. Integer in diam elementum, placerat quam ut, varius urna.
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quis eros vitae egestas. Integer in diam elementum, placerat quam ut, varius urna.

          .u-faq-section
            h4.orange Продажа и производство резиновой плитки
            div
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quis eros vitae egestas. Integer in diam elementum, placerat quam ut, varius urna.
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quis eros vitae egestas. Integer in diam elementum, placerat quam ut, varius urna.
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quis eros vitae egestas. Integer in diam elementum, placerat quam ut, varius urna.

          .u-faq-section
            h4.orange Где купить резиновую плитку?
            div
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quis eros vitae egestas. Integer in diam elementum, placerat quam ut, varius urna.
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quis eros vitae egestas. Integer in diam elementum, placerat quam ut, varius urna.
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis quis eros vitae egestas. Integer in diam elementum, placerat quam ut, varius urna.

          include components/footer.pug
  script(src='./assets/js/scripts.js')
  script(src='./assets/js/app.js')
