doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Upak prices
    link(rel='stylesheet' href='./assets/css/depStyles.css')
    link(rel='stylesheet' href='./assets/css/styles.css')
  body
    .app
      include components/header.pug
      include components/navigation.pug
      .wrapper
        .container
          .u-content
            h3.u-content-title.blue.first Цена на резиновую плитку
            p Lorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipi

            .u-price-item
              h3.u-content-title.blue Резиновая плитка 500x500x40
              .row
                .col-xs-8
                  table.table.u-table
                    thead
                      tr
                        th Размер
                        th В 1 кв.м шт.
                        th Менее 100 кв. м
                        th Более 100 кв. м
                        th Более 500 кв. м
                    tbody
                      tr
                        td 500х500х10
                        td 4
                        td 400 руб.
                        td 350 руб.
                        td Договорная
                      tr
                        td 500х500х10
                        td 4
                        td 400 руб.
                        td 350 руб.
                        td Договорная
                      tr
                        td 500х500х10
                        td 4
                        td 400 руб.
                        td 350 руб.
                        td Договорная
                      tr
                        td 500х500х10
                        td 4
                        td 400 руб.
                        td 350 руб.
                        td Договорная
                      tr
                        td 500х500х10
                        td 4
                        td 400 руб.
                        td 350 руб.
                        td Договорная
                .col-xs-4
                  #u-small-slider1.carousel.u-carousel.slide.small(data-ride='carousel')
                    .carousel-inner(role='listbox')
                      .item.active
                        img(src='./assets/images/slider_small.jpg', alt='slide caption')
                      .item
                        img(src='./assets/images/slider_small.jpg', alt='slide caption')
                    a.left.carousel-control(href='#u-small-slider1', role='button', data-slide='prev')
                      .arrow
                    a.right.carousel-control(href='#u-small-slider1', role='button', data-slide='next')
                      .arrow
            .u-price-item
              h3.u-content-title.blue Резиновая плитка 500x500x40
              .row
                .col-xs-8
                  table.table.u-table
                    thead
                      tr
                        th Размер
                        th В 1 кв.м шт.
                        th Менее 100 кв. м
                        th Более 100 кв. м
                        th Более 500 кв. м
                    tbody
                      tr
                        td 500х500х10
                        td 4
                        td 400 руб.
                        td 350 руб.
                        td Договорная
                      tr
                        td 500х500х10
                        td 4
                        td 400 руб.
                        td 350 руб.
                        td Договорная
                      tr
                        td 500х500х10
                        td 4
                        td 400 руб.
                        td 350 руб.
                        td Договорная
                      tr
                        td 500х500х10
                        td 4
                        td 400 руб.
                        td 350 руб.
                        td Договорная
                      tr
                        td 500х500х10
                        td 4
                        td 400 руб.
                        td 350 руб.
                        td Договорная
                .col-xs-4
                  #u-small-slider2.carousel.u-carousel.slide.small(data-ride='carousel')
                    .carousel-inner(role='listbox')
                      .item.active
                        img(src='./assets/images/slider_small.jpg', alt='slide caption')
                      .item
                        img(src='./assets/images/slider_small.jpg', alt='slide caption')
                    a.left.carousel-control(href='#u-small-slider2', role='button', data-slide='prev')
                      .arrow
                    a.right.carousel-control(href='#u-small-slider2', role='button', data-slide='next')
                      .arrow

            .u-objects-section
              h3.u-content-title.blue Объекты
              .row
                .col-xs-3.u-object-preview
                  img.inline(src="./assets/images/obj.jpg")
                .col-xs-3.u-object-preview
                  img.inline(src="./assets/images/obj.jpg")
                .col-xs-3.u-object-preview
                  img.inline(src="./assets/images/obj.jpg")
                .col-xs-3.u-object-preview
                  img.inline(src="./assets/images/obj.jpg")
                .col-xs-3.u-object-preview
                  img.inline(src="./assets/images/obj.jpg")
                .col-xs-3.u-object-preview
                  img.inline(src="./assets/images/obj.jpg")
                .col-xs-3.u-object-preview
                  img.inline(src="./assets/images/obj.jpg")
                .col-xs-3.u-object-preview
                  img.inline(src="./assets/images/obj.jpg")



          include components/footer.pug
  script(src='./assets/js/scripts.js')
  script(src='./assets/js/app.js')
